section {
  display: flex;
  flex-wrap: wrap;
}
.bar {
  position: relative;
  width: 20px;
  height: 100%;
  background-color: white;
  display: block;
  height: 100%;
  height: 575px;
  right: 20px;
  top: 175px;
}
.bar span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to bottom,
    #8296f2,
    #a8aef5,
    #c9c8f8,
    #e5e3fb,
    #ffffff
  );
  height: 100vh;
}
.game {
  margin: 50px auto;
  width: 560px;
  display: flex;
  flex-direction: column;
  border: 10px solid #8296f2;
}
.score {
  text-align: center;
  font-size: 50px;
  border: 10px solid #8296f2;
  margin: 0;

  padding: 20px;
}
.board {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
}

.board img {
  width: 70px;
  height: 70px;
}
